## Part 1

### PROJECT OBJECTIVE: Goal is to cluster the data and treat them as individual datasets to train Regression models to predict ‘mpg’

#### 1. Import and Warehouse data :
* Import all the given datasets and explore size & shape
* Merge all datasets onto one and explore final shape and size
* Export the final dataset and store it on local machine in .csv, .xlsx and .json format for future use
* Import the data from above steps into python

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r"../Data/auto-mpg.csv")

In [10]:
df.shape

(398, 9)

In [11]:
df.size

3582

In [12]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

### Exploratory Data Analysis

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [16]:
# we are seperating the column names of categorical columns and numeric columns
char_df = df.loc[:,df.dtypes == 'object'].columns.tolist()
num_df = df.describe().columns.tolist()

In [15]:
df.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       94
weight          351
acceleration     95
model year       13
origin            3
car name        305
dtype: int64

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cylinders,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
displacement,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
weight,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acceleration,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
model year,398.0,76.010050,3.697627,70.0,73.000,76.0,79.000,82.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0

In [20]:
print(char_df,num_df)

['horsepower', 'car name'] ['mpg', 'cylinders', 'displacement', 'weight', 'acceleration', 'model year', 'origin']

In [24]:
# turning this columns into categorical values
df['origin'] = df['origin'].astype('str')
df['model year'] = df['model year'].astype('str')

In [26]:
print("char column before :",char_df)
print("numerical columns before :",num_df)
print("--"*50)

char_df = df.loc[:,df.dtypes == 'object'].columns.tolist()
num_df = df.describe().columns.tolist()

print("char column after :",char_df)
print("numerical columns after :",num_df)

char column before : ['horsepower', 'car name']
numerical columns before : ['mpg', 'cylinders', 'displacement', 'weight', 'acceleration', 'model year', 'origin']
----------------------------------------------------------------------------------------------------
char column after : ['horsepower', 'model year', 'origin', 'car name', 'model yearr']
numerical columns after : ['mpg', 'cylinders', 'displacement', 'weight', 'acceleration']

# Data Cleaning